*{
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
}

img{
    height: auto;
}

body{
    background-color: rgb(66, 67, 67);
}

h1{
    color: white;
    padding-left:40%;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.buttons{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.buttonleft{
    margin-left: 20px;
}

.buttonright{
    margin-right: 20px;
}

#bars{
    display: flex;
    justify-content: center;
    margin: 10px 25%;
   max-width: 100%;
}

.bar{
    width: 5px;
    margin: 5px 2px;
    background-color: yellow;
}

#slider{

    position:fixed;
    top:90%;
    left:35%;
    display: flex;
    justify-content: center;
    border: 2px dotted rgb(83, 200, 153);
    padding: 5px;
    color: rgba(230, 73, 20, 0.832);
   
}

input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    
}

input[type="range"]:focus{
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track{
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;  
}


input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    margin-top: -12px;

    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {   
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem; 
  }





