*{
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
}

img{
    height: auto;
}

body{
    background-color: #110f41;
}

h1{
    color: rgb(33, 250, 94);
    padding-left:40%;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.buttons{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.buttonleft{
    margin-left: 20px;
}

.buttonright{
    margin-right: 20px;
}

#bars{
    display: flex;
    justify-content: center;
    margin: 10px 25%;
   max-width: 100%;
}

.bar{
    width: 5px;
    margin: 5px 2px;
    background-color: rgb(223, 58, 8);
}

#slider{

    position:fixed;
    top:90%;
    left:35%;
    display: flex;
    justify-content: center;
    border: 2px dotted rgb(83, 200, 153);
    padding: 5px;
    color: rgba(0, 253, 236, 0.832);
   
}

label{
    color:#fbee00;
}


#gen{
    font-weight: bold;
    color:  rgba(255, 255, 0, 0.752);
    background-color: none;
    border: #00defb solid 2px ;
    border-radius: 10rem;

}
#gen:hover{
    transition: 0.75s;
    color:  #ffffff;
    background-color: #ff8928;

}

#bubsort,#selsort,#inssort,#mersort,#quisort{
    font-weight: bold;
    color:  rgba(0, 255, 191, 0.752);
    background-color: none;
    border: #b500e2 solid 2px ;
    border-radius: 10rem;

}

#bubsort:hover,#selsort:hover,#inssort:hover,#mersort:hover,#quisort:hover{
    transition: 0.75s;
    color:  #161748;
    background-color: #f95d9b;

}




input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    
}

input[type="range"]:focus{
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track{
    background-color: #3b4d61;
    border-radius: 0.5rem;
    height: 0.5rem;  
}


input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    margin-top: -8px;
    border-radius: 10rem;

    background-color: #ff16c5;
    height: 1.5rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {   
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem; 
  }





